@import './base.css';
@import './theme.css';

#app {
  min-height: 100vh;
  font-weight: normal;
  font-family: 'Fira Code', 'Inter', monospace;
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  transition: background 0.3s, color 0.3s;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
